#database files
/db/

#pycharm
.idea
tech_consult/.idea/
tech_consult_exp/.idea/
tech_consult_web/.idea/

#pycache
tech_consult/tech_consult/__pycache__/
tech_consult/webapp/__pycache__/
tech_consult_exp/tech_consult_exp/__pycache__/
tech_consult_exp/webapp_exp/__pycache__/
tech_consult_web/tech_consult_web/__pycache__/
tech_consult_web/webapp_web/__pycache__/

#migrations
tech_consult/webapp/migrations/
#there should not be migrations in webapp_exp and webapp_web
tech_consult_exp/webapp_exp/migrations/
tech_consult_web/webapp_web/migrations/

#OS X
.DS_Store