<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technology Consulting</title>
</head>
<body>

    {% if update %}
        <h1>Update ConsumerRequest</h1>
    {% else %}
        <h1>Create ConsumerRequest</h1>
    {% endif %}

    <form id="create_consumerRequest_form" method="post" class="form-inline" action="">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    <p>{{ field }}</p>
                {% endfor %}

                <input type="submit" name="submit" value="Submit" />

                <br><a href="/">Home</a><br />
            </form>

</body>
</html>
