<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'webapp_web/mystyle.css' %}">
    <title>Technology Consult</title>
</head>
<body>
    <h1>Technology Consultation</h1>
    <h2>CS 4501. Elliott Kim, Marissa Lee, Sherry Li</h2>
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
    {% if logged_in %}
        <br><a href="/logout">Log out</a><br />
         Welcome,
        {% if is_consumer %}
            <a href="/consumer_detail/{{ user_id }}">{{username}}</a>! <br />
        {% else %}
            <a href="/producer_detail/{{ user_id }}">{{username}}</a>! <br />
        {% endif %}
    {% else %}
        <br><a href="/login">Log in</a><br />
    {% endif %}
    <h3><center><b>Request Details</b></center></h3>
    {% if ok %}
    <h4>
        <p>Title: {{title}}</p>
        <p>Description: {{description}} </p>
        <p>Offered Price: ${{offered_price}}</p>
        <p>Timestamp: {{timestamp}} </p>
        <p>Consumer Username: <a href="/consumer_detail/{{ consumer_pk }}">{{consumer_username}}</a></p>
        <p>Consumer Email: {{consumer_email}}</p>
        <p>Consumer Phone: {{consumer_phone}}</p>
        <p>Availability: {{availability}} </p>
        {% if producer_username %}
            <p>Accepted Consultant Username(if any): <a href="/producer_detail/{{ producer_pk }}">{{producer_username}}</a></p>
        {% else %}
            <p>Accepted Consultant Username(if any):</p>
        {% endif %}
    </h4>
    {% else %}
        <h4>{{ msg }}</h4>
    {% endif %}
    <br><a href="/">Home</a><br /></h4>
</body>
</html>