<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'webapp_web/mystyle.css' %}">


    <title>Technology Consultation</title>
</head>


<body>
    <h1>Technology Consultation</h1>
    <h3><center>Create Listing</center></h3>

{% if is_consumer %}
    <h4>

    <form id="create_listing_form" method="post" class="form-inline" action="">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            <p>{{ field }}</p>
        {% endfor %}


        <input type="submit" name="submit" value="Submit" />

    </form>
</h4>

{% else %}
     <h4>You cannot create a listing as a producer.</h4>
    <br><a href="/logout">Log out</a><br />
{% endif %}
    <br><a href="/">Home</a><br />
    </body>
</html>
