<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'webapp_web/mystyle.css' %}">


    <title>Technology Consultation</title>
</head>

<body>
    <h1>Technology Consultation</h1>
<h3>Log In</h3>

<h4>
    <p>Consumer or Producer: {{type}}</p>

    <p>Username: {{username}}</p>
    <p>Password: {{password}}</p>                                                                                     

</h4>
    </body>
</html>

