<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'webapp_web/mystyle.css' %}">


    <title>Technology Consultation</title>
</head>


<body>
    <h1>Technology Consultation</h1>
    <h2>CS 4501. Elliott Kim, Marissa Lee, Sherry Li</h2>
    <br><a href="/login">Log in</a><br /></h4>
    <h3><b>Log Out</b></h3>

{% if logged_in %}

 <h4>You are logged out!  </h4>

{% else %}
<h4>You need to log in first!</h4>

{% endif %}
<br><a href="/">Home</a><br /></h4>
    </body>
</html>


