<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'webapp_web/style.css' %}">
    <title>Technology Consult</title>
</head>
<body>
    <h1>Request Details</h1>
<h4>
    <p>Title: {{title}}</p>
    <p>Description: {{description}} </p>
    <p>Offered Price: {{offered_price}}</p>
    <p>Timestamp:{{timestamp}} </p>
    <p>Consumer Username:{{consumer_username}}</p>
    <p>Consumer Email:{{consumer_email}}</p>
    <p>Consumer Phone:{{consumer_phone}}</p>
    <p>Availability: {{availability}} </p>
    <p>Accepted Consultant Username(if any):{{producer_username}}</p>
</h4>
</body>
</html>