<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'webapp_web/mystyle.css' %}">


    <title>Technology Consulting</title>
</head>
<body>
   
   {% if logged_in %}
        <br><a href="/logout">Log out</a><br />
         Welcome,
        {% if is_consumer %}
            <a href="/consumer_detail/{{ user_id }}">{{username}}</a>! <br />
            <a href="/consumer_detail/{{ user_id }}/update">Update</a> your profile here.
<br />

        {% else %}
            <a href="/producer_detail/{{ user_id }}">{{username}}</a>! <br />
            <a href="/producer_detail/{{ user_id }}/update">Update</a> your profile here.
<br />

        {% endif %}
    {% else %}
        <br><a href="/login">Log in</a><br />
    {% endif %}

    <h3><center><b>Update</b></center></h3>
    <p>Please only enter the fields to update</p>
    <h4>
    
    <form id="update_producer_form" method="post" class="form-inline" action="">

                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    <p>{{ field }}</p>
                {% endfor %}

                <input type="submit" name="submit" value="Submit" />

                <br><a href="/">Home</a><br />
            </form>
      </h4>

</body>
</html>
